[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-spectacular = "*"
drf-nested-routers = "*"
djangorestframework = "*"
python-dotenv = "*"
pillow = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
